body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background-color: #b48ecb;
  padding: 2em;
  text-align: center;
  color: white;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}
